main {
    max-width: 850px;
}
aside{
    width: 20rem;
    margin: 1rem; 
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem; 
    background-color: #b0b4bd;
    color: #333;
    text-align: center;
}
aside img {
    width: 200px;
    height: auto;
}

main img {
    width: 150px;
    height: auto;
} 
nav {
    background-color: rgb(17, 24, 81);
    padding: 10px;
}

nav a {
    display: block;
    padding: 20px;
    color: hsl(0, 0%, 100%)
}

h1 {
    color: rgb(15, 15, 89);
}

img{
    width: 150;
    height: auto;
    border: 1px solid black;
    pad: 2px;
    box-shadow: 0 0 30px gray;}
p {
    padding: 0;
}

footer {
    margin-top: 10px;
    border-top: #000 solid;
    text-align: center;
}
